@import "./variables.scss";

// GÉNÉRAL

* {
    margin: 0;
    padding: 0;
}

.app {
    @include full-width;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
}

section, footer {
    padding: 2em 1em 2em 1em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

p, label {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.separator {
    width: 30vw;
    margin: 2em auto;
    border: 1px $color-tertiary solid;
}

// SECTION NAV

.header {
    position: relative;
}

.nav,
.nav__item {
    z-index: 1;
}

.nav {
    height: 2em;
    background-color: $color-primary;
    color: $color-secondary;
    border-bottom: 1px white solid;
    padding: 1em 1em;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    &__logoContainer {
        display: flex;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        color: $color-primary;
        background-color: $color-secondary;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        font-size: 1.2em;
        color: $color-primary;
    }
    &__icon {
        height: 2em;
        width: 2em;
        color: $color-tertiary;
        position: absolute;
        top: 1em;
        right: 1em;
        transition: 500ms ease-in-out;
        &--active {
            transform: rotate(450deg);
        }
    }
    &__list {
        & :nth-child(1):not(.nav__item--hidden) {
            top: 4em;
            animation-delay: 200ms;
        }
        & :nth-child(2):not(.nav__item--hidden) {
            top: 8em;
            animation-delay: 300ms;
        }
        & :nth-child(3):not(.nav__item--hidden) {
            top: 12em;
            animation-delay: 400ms;
        }
        & :nth-child(4):not(.nav__item--hidden) {
            top: 16em;
            animation-delay: 500ms;
        }
        & :nth-child(1):not(.nav__item--displayed) {
            top: 4em;
            animation-delay: 500ms;
        }
        & :nth-child(2):not(.nav__item--displayed) {
            top: 8em;
            animation-delay: 400ms;
        }
        & :nth-child(3):not(.nav__item--displayed) {
            top: 12em;
            animation-delay: 300ms;
        }
        & :nth-child(4):not(.nav__item--displayed) {
            top: 16em;
            animation-delay: 200ms;
        }
    }
    &__item {
        position: fixed;
        top: 4em;
        right: 0;
        left: 0;
        transform: translateX(100%);
        height: 2em;
        line-height: 2em;
        background-color: $color-primary;
        padding: 1em 2em;
        border-top: 1px white solid;
        &--displayed {
            animation: dropdown__spawn 500ms cubic-bezier(.28,.54,.21,.97) both;
        }
        &--hidden {
            animation: dropdown__hide 500ms cubic-bezier(.28,.54,.21,.97) both;
        }

    }
    &__link {
        color: $color-tertiary;
        font-size: 1.4em;
        color: $color-secondary;
    }
}

 // SECTION À PROPOS

.about, .projects {
    background-color: $color-secondary;
}

.skills, .contact {
    background-color: $color-primary;
    color: $color-secondary;
}

 .about {
    margin-top: 4em;
    &__title {
        margin: 1em auto;
        // TEST !!!
        // font-family: "Silkscreen";
        font-size: 1.9em;
        color: $color-primary;
    }
    &__portrait {
        height: 6em;
        width: 6em;
        border-radius: 50%;
    }
    &__description {
        margin-top: 2em;
    }
 }

// SECTION COMPÉTENCES

.skills {
    &__actionItem {
        margin-bottom: 1em;
    }
    &__actionIcon {
        font-size: 1.5em;
        color: $color-tertiary;
        margin: 0 0.5em 0.5em 0.5em;
    }
    &__skillsItemsContainer {
        max-width: 37em;
        margin: auto;
        border: 1px $color-tertiary solid;
        border-radius: 1em;
        padding: 1.5em 0;
        font-family: "Silkscreen";
        & p {
            font-size: 1.1em;
            padding: 0 0.8em;
            margin-bottom: 1em;
        }
    }
    &__skillItem {
        // font-family: "Silkscreen";
        font-size: 0.7em;
        display: inline-block;
        padding: 0.7em;
    }
    &__skillTitle {
        font-weight: normal;
    }
    &__skillIcon {
        width: 2em;
        height: 2em;
    }
    &__resume {
        margin-top: 1em;
    }
    &__resumeTitle {
        padding: 1em 0;
    }
    &__resumeButton {
        @include button-main;
        padding: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1em;
        & a {
            color: $color-primary;
        }
    }
}

#skillIcon7 {
    height: 2.5em;
    width: 2.5em;
}

 // SECTION PROJETS

.projects {
    &__icon,
    &__text {
        margin-bottom: 1em;
    }
    &__icon {
        color: lighten($color-primary, 10%);
        height: 2em;
    }
}

.carousel {
    overflow: hidden;
    border-radius: 0.8em;
    background-color: $color-primary;
    &__inner {
        white-space: nowrap;
        transition: transform 400ms;
    }
    &__item {
        width: 100%;
        display: inline-block;
    }
    &__showcase {
        position: relative;
        display: inline-flex;
        justify-content: center;
        height: 25em;
        color: $color-secondary;
    }
    &__img {
        width: 100%;
        padding-top: 1.5em;
        object-fit: cover;
    }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height:1.2em;
        width: 100%;
        background-color: $color-primary;
        color: $color-secondary;
    }
    &__itemDetails {
        display: none;
        &--active {
            overflow: hidden;
            width: auto;
            display: block;
            height: auto;
            text-align: center;
            padding: 1em;
            color: $color-secondary;
            border-top: 0.1em $color-secondary solid;
            border-bottom: 0.1em $color-secondary solid;
            & h4 {
                display: inline;
                border-bottom: 0.1em solid $color-tertiary;
            }
            & p {
                white-space: pre-line;
                font-size: 1em;
                line-height: 1.3em;
                padding: 1em 0;
            }
            & a {
                text-decoration: none;
                font-weight: bold; 
                color: $color-tertiary;
                border: none;
            }
        }
    }
    &__detailsControl {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 0 1em 0;
        color: $color-secondary;
        & svg {
            height: 1em;
        }
        & p {
            padding-left: 0.5em;
        }
    }
    &__detailsButton {
        border-radius: 50%;
        border: 0.15em $color-secondary solid;
        height: 1.5em;
        width: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 100ms ease-in-out;
        &--active {
            transform: rotate(90deg);
        }
    }
    &__indicators {
        display: flex;
        justify-content: center;
        background-color: $color-primary;
        color: $color-secondary;
    }
    &__button {
        padding: 0.3em;
        margin: 0.5em;
        border-radius: 0.3em;
        border: none;
        background-color: $color-secondary;
        color: $color-secondary;
        &--active {
            background-color: $color-tertiary;
            color: $color-primary
        }
    }
}

 // SECTION CONTACT
 .contact {
    & label {
        display: block;
    }
    & form {
        margin: 1.5em 0;
        padding: 1em 0;
        // test
        border: 1px white solid;
        border-radius: 1em;
        background-color: $color-secondary;
        color: $color-primary;
    }
    & input:not(.contact__button), 
    textarea {
        margin: 0.5em 0;
        width: 80vw;
        font-family: "Roboto Condensed";
        border-radius: 0.4em;
        border: 1px solid $color-primary;
    }
    &__nameInput,
    &__mailInput {
        height: 1.8em;
        font-size: 1.2em;
        padding: 0 0.2em;
    }
    &__messageInput {
        height: 8em;
        padding: 0.3em;
        font-size: 1.2em;
        
    }
    &__button {
        @include button-main;
        padding: 0.3em 0.6em;
        margin: 0.5em auto;
        display: block;
        font-size: 1.2em;
        font-family: "Roboto Condensed";

    }
    &__socialItem {
        display: inline-block;
        padding: 0.8em 2em;

    }
    & svg {
        height: 2.2em;
        width: 2.2em;
        fill: $color-secondary
    }
    & a {
        color: $color-secondary;
    }
 }

 .copyrights {
    margin-top: 2em;
    font-size: 0.8em;
    &__react,
    & svg {
        
        height: 1.1em;
        width: 1.1em;
    }
    &__react {
        padding: 0 0.4em;
    }
    & svg {
        padding-left: 0.4em;
        color: #d15555;
    }
 }