// MIXINS
// Vue intermédiaire (tablette)
@mixin inter-only {
    @media screen and (min-width: 581px) and (max-width: 950px) {
      @content;
    }
}

// Vue desktop
@mixin desktop-only {
  @media screen and (min-width: 951px) {
    @content;
  }
}

// Pour s'assurer que l'élément prenne toute la largeur de l'écran
@mixin full-width {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@mixin button-main {
  background-color: $color-tertiary;
  border-radius: 0.5em;
  border: none;
}

// THEME COULEURS
$color-primary: #333;
$color-secondary: #f5f6f7;
// Bleu sombre
// $color-primary: #080b50;
// $color-tertiary: #ffc82f;
// Bleu clair
// $color-tertiary: #67dcff; 
// Bleu Pastel
$color-tertiary: #6a97f9; 


// $vert-clair: #8fffda;
// $bleu-vif: #00ccff;
// $bleu-clair: #7fcefc;


// Dégradé site freelance
// $saumon: #f26457;
// $saumon-clair: #fe9d8f;

// Ensemble -> Effet "Papier Journal"
// $color-primary: #333;
// $color-secondary: #fdfadf;


// KEYFRAMES
// Animation d'apparition des items du nav en vue mobile et inter
@keyframes dropdown__spawn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  to {
    transform: translateX(0%);
    opacity: 0.95;
  }
}

// Animation de retrait des items du nav en vue mobile et inter
@keyframes dropdown__hide {
  from {
    transform: translateX(0%);
    opacity: 0.95;
  }
  60% {
    opacity: 0.4;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}