@import "./variables.scss";
@import "./views/NavBar.scss";
@import "./views/About.scss";
@import "./views/Skills.scss";
@import "./views/Projects.scss";
@import "./views/Contact.scss";
@import "./views/Footer.scss";

// GÉNÉRAL
* {
    margin: 0;
    padding: 0;
    transition: all 50ms;
}

body, html {
    background-color: #1c2020;
    height: 100%;
    position: relative;
    // overflow: hidden;
}

.app {
    @include full-width;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    text-align: center;
}

.nav, .about, .skills, .projects, .contact, .footer {
    -webkit-animation-name: body__spawn;
    -webkit-animation-duration: 600ms;
    -webkit-animation-delay: 2800ms;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-name: body__spawn;
    animation-duration: 600ms;
    animation-delay: 2800ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0.05;
}

#skillsAnchor,
#projectsAnchor,
#contactAnchor {
    display: block;
    height: 1em;
}

.about, .skills, .projects, .contact, footer {
    padding: 2em 1em 2em 1em;
}

.about, .projects {
    background-color: $color-secondary;
}

.skills, .contact {
    background-color: $color-primary;
    color: $color-secondary;
}

.loader {
    margin: 0 auto;
    width: 13em;
    height: 5em;
    text-align: center;
    font-size: 10px;
    position: absolute;
    // La position "top" est calculée dans "NavBar.js" en fonction de la hauteur de l'écran
    left: 50%;
    -webkit-animation-name: hide__loader ;
    -webkit-animation-duration: 0.4s ;
    -webkit-animation-delay: 3150ms;
    -webkit-animation-fill-mode: forwards;
    animation-name: hide__loader ;
    animation-duration: 0.4s ;
    animation-delay: 3150ms;
    animation-fill-mode: forwards;
    -webkit-transform: translateY(-50%) translateX(-50%);
    & div {
        height: 8em;
        width: 0.8em;
        display: inline-block;
        margin-left: 2px;
        -webkit-animation-name: loader__bars ;
        -webkit-animation-duration: 0.8s ;
        -webkit-animation-iteration-count: 5;
        -webkit-animation-timing-function: ease-in-out;
        animation-name: loader__bars;
        animation-duration: 0.8s ;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out;
    }
    &__bar1 {
        background-color: #DD6BED;
    }
    &__bar2 {
        background-color: #C26FF7;
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }
    &__bar3 {
        background-color: #9670E0;
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }
    &__bar4 {
        background-color: #786FF7;
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }
    &__bar5 {
        background-color: #6B85ED;
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }
    &__bar6 {
        background-color: #4eb6fc;
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }
    & p {
        color: $color-secondary;
        font-size: 1.8em;
        font-family: "Silkscreen";
        & span {
            -webkit-animation-name: dot ;
            -webkit-animation-duration: 0.5s ;
            -webkit-animation-iteration-count: 6;
            -webkit-animation-timing-function: ease-in-out;
            animation-name: dot;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 6;
            &:nth-child(1) {
                -webkit-animation-delay: -0.3s;
                animation-delay: -0.3s;
            }
            &:nth-child(2) {
                -webkit-animation-delay: -0.2s;
                animation-delay: -0.2s;
            }   
            &:nth-child(3) {
                -webkit-animation-delay: -0.1s;
                animation-delay: -0.1s;
            }
        }
    }
}
h2 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 1em;
    @include desktop-only {
        font-size: 2.5em;
        padding: 0.3em 5vw;
    }
}

p, label {
    font-size: 1.2em;
    @include inter-only {
        font-size: 1.25em;
    }
    @include desktop-only {
        font-size: 1.3em;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}